:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1, h2 {
    font-family: monospace;
    font-size: xxx-large;
}
.template, .hidden {
  display: none;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.moving {
    border: 2px solid black;
}

textarea {
    width: 100%;
}

.description, textarea {
    white-space: pre-wrap;
}

.edit, .startMove, .delete {
    background-color: inherit;
    border: none;
}

.edit:hover, .startMove:hover, .delete:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25); /* set color to translucent when hovering */
}

.moveHere {
    background-color: inherit;
    border: none;
    font-size: small;
    color: gray;
}

.moveHere:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    color: black;

}

.card {
    /* round corners */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 2%;
}

.columnTitle {
    font-size: xxx-large;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid black;
    margin-right: 0 auto;
}

form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }